body {
    background-color: #f0f2f5;
    font-family: "Roboto", sans-serif;
}

.container-box {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 30px;
    margin-top: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.number {
    padding: 8px 16px;
    background-color: #dfe3e6;
    font-size: 30px;
    font-weight: bold;
    border-radius: 12px;
    border: 3px solid #c9cdd1;
}

.operator {
    font-size: 40px;
    color: #6c757d;
    font-weight: bold;
}

.user-input {
    width: 150px;
    height: 60px;
    font-size: 28px;
    text-align: center;
    border-radius: 12px;
    border: 3px solid #c9cdd1;
    font-weight: bold;
    background-color: #e9eef1;
}

.result-box {
    font-size: 22px;
    font-weight: bold;
    padding: 12px;
    border-radius: 10px;
    margin-top: 20px;
    color: #ffffff;
}
